<div class="wrapper ">

    <div class="top">


        <div routerLink="/home" routerLinkActive="active" matTooltip="Home" class="item">

            <i class="fas fa-home"></i>

        </div>

        <div routerLink="/notes" routerLinkActive="active" matTooltip="Home" class="item">

            <i class="fas fa-sticky-note"></i>

        </div>

        <div routerLink="/books" routerLinkActive="active" matTooltip="Home" class="item">

            <i class="fas fa-books"></i>

        </div>

        <div routerLink="/settings" routerLinkActive="active" matTooltip="Settings" class="item">

            <i class="fas fa-cog"></i>

        </div>

    </div>

    <div class="bottom">

        <i class="fas fa-sign-out-alt"></i>

    </div>

</div>
