<div class="editor" style="height: 500px;">

    <quill-editor>

        <div quill-editor-toolbar>

            <div class="ql-formats">

                <button class="ql-bold" [title]="'Bold'"></button>

            </div>

            <div class="ql-formats">

                <select class="ql-align" [title]="'Aligment'">

                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>

                </select>

                <select class="ql-align" [title]="'Aligment2'">

                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>

                </select>

            </div>

        </div>

    </quill-editor>

</div>
