:host {
    
    form {
        
        height: 100%;
        
        
        .wrapper {
            
            display: flex;
            flex-direction: column;
            
            height: 100%;
            
            .top {
                
                flex: 0 1 50px;
                background: #ccc;
                
                padding: 5px;
                
                display: flex;
                align-items: center;
                
                mat-form-field {
                    
                    flex: 1;
                    
                }
                
                .controls {
                    
                    
                    display: flex;
                    justify-content: flex-end;
                    
                    flex: 0 1 175px;
                    
                    i {
                        
                        margin: 5px;
                        cursor: pointer;
                        font-size: 19px;
                        
                        &:hover {
                            
                            color: rebeccapurple;
                            
                        }
                        
                    }
                    
                }
                
            }
            
            .main {
                
                flex: 1;
                background: blue;
                
                display: flex;
                
                .left {
                    
                    flex: 0 1 50px;
                    background: pink;
                    
                }
                
                .middle {
                    
                    flex: 1;
                    background: #eee;
                    
                }
                
                .right {
                    
                    //flex: auto;
                    //flex: 0 1 250px;
                    background: #262626;
                    
                    padding: 10px;
                    
                }
                
            }
            
            .bottom {
                
                display: flex;
                justify-content: space-between;
                
                flex: 0 1 30px;
                background: #151515;
                
                padding: 6px;
                
                button {
                    
                    margin-left: 7px;
                    
                }
                
            }
            
        }
        
    }
    
}
