<form [formGroup]="formGroup">

    <div class="wrapper" (resize)="onResize($event)">


        <div class="top">

            <mat-form-field>

                <input matInput
                       formControlName="name"
                       placeholder="Name">

            </mat-form-field>

            <div class="controls">

                <i class="fas fa-edit"></i>
                <i class="fas fa-lock-alt"></i>
                <i class="fas fa-share-alt-square"></i>
                <i class="fas fa-trash-alt"></i>
                <i class="fas fa-external-link-alt"></i>

            </div>

        </div>

        <div class="main">


            <!--<div class="left">-->


            <!--</div>-->

            <div class="middle">

                <!--<div #editor id="editor"></div>-->
                <quill-editor customToolbarPosition="bottom" [styles]="{ height: editorHeight }" [modules]="modules" [customOptions]="options">


                </quill-editor>

            </div>

            <div mwlResizable
                 [style.width]="rightWidth + 'px'"
                 (resizeEnd)="onResizeEnd($event)"
                 [enableGhostResize]="true"
                 [resizeEdges]="{ left: true }"
                 class="right">

                <tags-selector></tags-selector>

            </div>

        </div>

        <div class="bottom">

            <div class="left">


            </div>

            <div class="right">

                <button mat-stroked-button style="background: #666">CANCEL</button>
                <button mat-stroked-button style="background: #4caf50">SAVE</button>

            </div>

        </div>

    </div>

</form>
