<div class="wrapper mat-elevation-z24" [style.background]="themesService.sliderBackgroundColor">

    <div class="top">

        <div class="row">

            <div class="left">


            </div>

            <div class="middle">

                Some note about notes that has more notes.

            </div>

            <div class="right">

                <i class="fas fa-user-astronaut"></i>

            </div>

        </div>

    </div>

    <div class="bottom">

        <i class="fas fa-sign-out-alt"></i>

    </div>

</div>
