.wrapper {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    
    .sidebar {
        
        flex: 0 1 50px;
        
        display: flex;
        
    }
    
    .main {
        
        flex: 1;
        
    }
    
}
