<div class="wrapper mat-elevation-z14" [style.background]="themesService.leftMenuSidebarBackgroundColor">

    <div class="top">

        <!--<app-left-menu-sidebar-item *ngFor="let note of leftMenuSidebarService.notes"-->
        <!--[note]="note"></app-left-menu-sidebar-item>-->

        <div class="row">

            <div class="left">

                <i class="fas fa-books"></i>

            </div>

            <div class="title">

                All Notes

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="row">

            <div class="left">

                <i class="fas fa-books"></i>

            </div>

            <div class="title">

                All Notes

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="row">

            <div class="left">

                <i class="fas fa-books"></i>

            </div>

            <div class="title">

                All Notes

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="row">

            <div class="left">

                <i class="fas fa-books"></i>

            </div>

            <div class="title">

                All Notes

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="header">

            <div class="left">

                LABELS

            </div>

            <div class="right">

                <i class="far fa-plus-circle"></i>

            </div>

        </div>


        <div class="row">

            <div class="left">

                <i class="fas fa-circle" style="color: rebeccapurple"></i>

            </div>

            <div class="title">

                Some Label

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="row">

            <div class="left">

                <i class="fas fa-circle" style="color: grey"></i>

            </div>

            <div class="title">

                Some Label

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="row">

            <div class="left">

                <i class="fas fa-circle" style="color: yellow"></i>

            </div>

            <div class="title">

                Some Label

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="header">

            <div class="left">

                TAGS

            </div>

            <div class="right">

                <i class="far fa-plus-circle"></i>

            </div>

        </div>


        <div class="row">

            <div class="left">

                <i class="fas fa-circle" style="color: rebeccapurple"></i>

            </div>

            <div class="title">

                Some Label

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="row">

            <div class="left">

                <i class="fas fa-circle" style="color: grey"></i>

            </div>

            <div class="title">

                Some Label

            </div>

            <div class="count">

                123

            </div>

        </div>

        <div class="row">

            <div class="left">

                <i class="fas fa-circle" style="color: yellow"></i>

            </div>

            <div class="title">

                Some Label

            </div>

            <div class="count">

                123

            </div>

        </div>

    </div>

    <div class="bottom">


    </div>

</div>
