:host {
    
    .wrapper {
        
        display: flex;
        flex-direction: column;
        
        width: 200px;
        height: 100%;
        
        margin-right: 15px;
        background: #eee;
        border-right: 1px solid #eee;
        
        .top {
        
        
        }
        
        .bottom {
        
        
        }
        
    }
    
}
