@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.snow.css";

body {
    
    padding: 0;
    margin: 0;
    
    font-family: 'PT Sans', 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 22px;
    
    color: #333;
    background: #eee;
    
}

* {
    
    outline: none;
    
}

input, textarea {
    
    caret-color: rgb(220, 0, 255) !important;
    
}

.flex {
    
    display: flex;
    align-items: center;
    
}

.p-20 {
    
    padding: 20px;
    
}

.mat-dialog-container {
    
    padding: 0 !important;;
    
}

.ql-container {
    
    //height: 515px !important;
    
}

mwlResizable {
    box-sizing: border-box; // required for the enableGhostResize option to work
}

mat-chip {
    
    border-radius: 5px !important;
    
}


app-editor {
    
    .mat-form-field-label {
        
        color: #999 !important;
        font-size: 18px !important;
        
    }
    
}
